{% load static %}

<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="mt-2 container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'assets/img/logo_2.png' %}" alt="Bootstrap" width="330" height="32"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" 
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">      
      <span class="navbar-text text-light fs-6">
        Seja Bem-Vindo (a) ao meu Portfólio
      </span>
    </div>
  </div>
</nav>
</header>



<!-- Fim NavBar-->